html {
    text-align: center;
}

* {
    box-sizing: border-box;
    font-family: "Trirong", serif;
}

#blueBox {
    margin: 0 0 10% 10%;
    border: 5px solid #607EAA;
    border-radius: 20px;
    background: #C4DDFF;
    width: 80%;
    height: 200px;
    top: 100px;
    position: absolute;
    z-index: -100;
}

.contact_input {
    margin-top: 100px;
}   

#addButton {
    background-color: white;
    color: #1C3879;
    border: 2px solid #607EAA;
    border-radius: 5px;
}

.search_input {
    margin-top: 200px;
}

#contactName, #mobileNumber, #email, #search {
    border: 1px solid #607EAA;
    border-radius: 3px;
}

table {
    width: 100%;
    margin-top: 200px;
    border-collapse: collapse;
    border: solid 2px black;
    overflow: auto;
}

th {
    background: #C4DDFF;
    font-weight: bold;
    color: black;
    vertical-align: middle;
    border: solid 2px black;
    padding: 5px;
}

tbody tr:nth-child(odd) {
    background-color: #F2F2F2;
}

td {
    border: solid 2px black;
    padding: 5px;
}

#sortHeader {
    cursor: pointer;
}

.error {
    color: #1C3879;
}