html {
    text-align: center;
}

.blueBox {
    margin: 0 0 10% 10%;
    border: 5px solid #5584AC;
    border-radius: 20px;
    background: #34ace8;
    width: 700px;
    height: 200px;
    top: 90px;
    position: absolute;
    z-index: -100;
}

.contact_input {
    /* font-size: 15px; */
    margin-top: 100px;
}   

.search_input {
    margin-top: 150px;
}

table {
    width: 100%;
    margin-top: 300px;
    border-collapse: collapse;
    border: solid 2px black;
    overflow: auto;
}

th {
    background: skyblue;
    font-weight: bold;
    color: black;
    vertical-align: middle;
    cursor: pointer;
    border: solid 2px black;
    padding: 5px;
}

td {
    border: solid 2px black;
    padding: 5px;
}

tbody tr:nth-child(odd) {
    background-color: #F2F2F2;
}
