/* Universal selector which will be apllied to every element */
* {
    box-sizing: border-box;
    font-family: "Trirong", serif;
}
input {
    width: 70%;
}

img{
    margin-left: 50px;
    margin-top: 15px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

.userDetail {
    float: left;
    width: 40%;
}

.repoDetail {
    float: right;
    width: 60%;
}